<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Title</key>
                <string>Attribution:</string>
                <key>FooterText</key>
                <string>The tab bar icons are from icons8.com. No changes were made to the original images. They are distributed under the license called Creative Commons Attribution-NoDerivs 3.0 Unported, which can be found here: https://creativecommons.org/licenses/by-nd/3.0/.
                </string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
        </array>
        <key>StringsTable</key>
        <string>Acknowledgements</string>
        <key>Title</key>
        <string>Acknowledgements</string>
    </dict>
</plist>
